{% extends '_base.html' %}

{% block title %}posts list{% endblock title%}

{% block content %}

<div class="right_side">
            <h2>Navigation</h2>
            <ul>
                <li><a href="{% url 'formapp:index' %}">Blogpost Home!</a></li>
                <li><a href="{% url 'formapp:blogpost-add' %}">Click here to make a blog post!</a></li>
                <li><a href="{% url 'formapp:all-blogposts' %}">Click here to view every post!</a></li>
            </ul>
            <form style="float:left; padding-left: 15px;" class="form-inline mt-2 mt-md-0" action="{% url 'formapp:search-results' %}" method="GET">
                <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search for content" aria-label="Search">
            </form>
        </div>

<h4>Here's a collection of all of our posts!</h4>
<p>click on a post to view the comments section</p>

{% if post_list %}

    {% for post in post_list  %}
        <a href="{% url 'formapp:post-info' post.id %}">
        <div class="blog_post">
            {{ forloop.counter }})  
            <p>Post from {{ post.username }} with {{ post.number_of_comments }} comments:</p><br>
            <ul>
                {{ post.post_content }}
            </ul>
        </div></a>
    {% endfor %}

{% endif %}

{% endblock content %}