{% extends '_base.html' %}

{% block title %}categories{% endblock title %}

{% block content %}

 <!-- navigation for blog post app -->
        <div class="right_side">
            <h2>Navigation</h2>
            <ul>
                <li><a href="{% url 'formapp:index' %}">Blogpost Home!</a></li>
                <li><a href="{% url 'formapp:blogpost-add' %}">Click here to make a blog post!</a></li>
                <li><a href="{% url 'formapp:all-blogposts' %}">Click here to view every post!</a></li>
                
            </ul>
            <form style="float:left; padding-left: 15px;" class="form-inline mt-2 mt-md-0" action="{% url 'formapp:search-results' %}" method="GET">
                <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search for content" aria-label="Search">
            </form>
        </div>
        
    <h3>category: {{ post_list.category }}</h3>
    <h4>number of posts: {{ post_list.post_count }}</h4>

    {% for post in post_list.posts %}
        <div class="blog_post">
            <h3><a href="{% url 'formapp:post-info' post.id %}">{{ post.username }}</h3>
            <p>Category: {{ post.category }}</p>
            <p>Number of comments: {{ post.number_of_comments }}</p>
            <p>Content: {{ post.post_content }}</p>
            </a>
        </div>
    
    {% endfor %}

{% endblock content %}