{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'formapp/info.css' %}">

{% block title %}Post Info{% endblock title %}


{% block content %}

        <div>
            <p>
                <b>{{ blogpost.username }}</b>@<i>{{ blogpost.pub_date }}</i>
            </p>
            
            <p><ul>{{ blogpost.post_content }}</ul></p>
        </div><br><br>

        <div>
            <u>Comments:</u>

            <ul>
                {% for comment in blogpost.comment_set.all %}
                <li>
                    <p> <strong>{{ comment.username}}</strong> at  <strong>{{ comment.timestamp }}</strong>:</p>
                    <p>{{ comment.comment_content }}</p>
                </li>
                {% endfor %}
            </ul>
        </div><br><br>

        <div style="width: 80%; padding-left: 50px;">
            <u><h5>Add a comment :</h5></u>
            <form action="{% url 'formapp:comment-add' blogpost.id %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}

                <input type="submit" value="click me to submit your comment">
            </form>
            
        </div>

{% endblock content%}